html, body, .container {
    height: 100%;
}
.clearfix::after {
    content: '';
    display: table;
}
.main-bg{
    background: url(./backgroundJourney.png);
    background-size: cover;
    width: 1366px;
    height: 768px;
}
/*HEADER START*/
.header{
background-color:  rgba(0, 0, 0, 0.41);
width: 1366px;
height: 54px;
}

.header-logo{
    font-family: Verdana;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    float: left;
    margin-top: 20px;
    margin-left: 81px;
    
}
.topnav{
  float: right;  

}
.option-item{
    display: inline-block;
    
}
.option-link{
    display: inline-block;
    
    background-image: url(./img/css_sprites.png) ;
    background-repeat: no-repeat;
   ;
}
.calendar{
    background-position:  -10px -70px;
    width: 19px;
height: 19px;
}
.forum{
    background-position:  -10px -10px;
    width: 28px;
height: 20px;
}
.journey{
     background-position:  -86px -10px;
     width: 20px;
height: 20px;
}
/*HEADER END*/
/*MODAL START*/
.modal{
    width: 444px;
height: 584px;
background-color: white; 
position: absolute;
  top: 69%;
  left: 50%;
  transform: translate(-50%, -50%);       
border-radius: 10px;
}
.sign-up{
    font-family: Verdana;
color:  #434343;
font-size: 20px;
padding-left: 60px;
padding-top: 29px;
float: left;
font-weight: 400;

}
.log-in{
    font-family: Verdana;
color:  #3cb878;
font-size: 14px;
float: right;
padding-right: 60px;
padding-top: 33px;
font-weight: 400;
}